#right-side-panel {
    border-left: 2px solid #ffffff;
    cursor: pointer;
    right: 5px;
    padding: 15px;
    position: absolute;
    height: 100%;
    width: calc(58%);
    color: #26162d;
    font-weight: 600;
    background: rgb(249 246 255 / 90%);
    box-shadow: 0px 0px 13px -5px rgb(0 0 0 / 75%);
}

@media only screen and (min-width:1050px) {
    #right-side-panel {
        width: 40% !important;
    }
}
.details-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.row11 {
    display: grid;
    width: 100%;
    border-bottom: 2px solid #e9f3ed;
    grid-template-columns: 6fr 1.5fr;
}

.details-close {
    padding: 10px ​!important;
}

.details-name {
    color: #4f89c6;
    font-size: 17px;
    font-weight: 800;
    text-align: center;
    position: relative;
    margin: 7px;
    max-width: 210px;
    margin-top: 0px;
}

.row1 {
    width: 85%;
    display: grid;
    grid-template-rows: 0fr 0fr;
    max-height: max-content;
    min-height: 50px;
    row-gap: 7px;
    margin-left: 15px;
}

.details-label {
    font-size: 13px;
    font-weight: 600;
    color: rgb(80, 137, 198);
}

.details-value {
    color: #43769c;
    font-size: 13px;
    font-weight: 700;
}