.wrapper {
    margin-top: 5px;
    height: calc(100% - 36px);
    background-color: #f9f7fe;
    width: 100%;
    padding-left: 2px;
    padding-right: 10px;
    padding-top: 40px;
    position: absolute;
    overflow: hidden;
}

#quick-file-title {
    margin: 0;
    padding-bottom: 5pt;
    border-bottom: 1px solid #1b1010;
    display: none;
}

input[type="text"] {
    height: 20pt;
    width: 150px;
    padding: 10px;
    border: 1px solid black;
    outline: none;
    font-size: 14px;
    margin-top: 5pt;
}

.options {
    z-index: 100;
    width: 56%;
    margin-top: 0px;
    position: relative;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-top: 6px;
    display: none;
    height: 40px;
}

.quick-notes-top-section {
    display: flex;
    padding-top: 5px;
    column-gap: 30px;
    width: max-content;
    position: absolute;
    right: 25px;
    font-size: 14px;
    position: absolute;
    z-index: 5;
}

#quick-notes-top-section i:hover {
    font-size: 15px;
}

#quick-notes-setting {
    width: 25px;
    height: 25px;
    top: 3px;
    position: relative;
}

#quick-file-editor {
    border: none;
    position: relative;
    outline: none;
    width: 99%;
    border: 1px solid white;
    resize: none;
    height: 100%;
    padding-left: 20px;
    padding-top: 20px;
    background: rgb(249 246 255 / 90%);
    cursor: text;
    font-family: monospace;
    margin-left: 10%;
}

.seperator {
    border: 1px solid #d6b8b8;
    height: 1px;
    width: 30px;
    margin-left: 6px;
}

.quick-file-editor-button {
    margin-top: 10;
    padding: 0;
    height: 30pt;
    width: 30pt;
    background-color: #ffff;
    border: none;
    cursor: pointer;
    color: #333;
    display: inline;
    position: relative;
    top: -7px;
    overflow-x: scroll;
    overflow-y: noscroll;
}

.quick-file-editor-button:active {
    color: #333;
}

select {
    width: 38px;
    height: 30pt;
    -webkit-appearance: none;
    border: 0;
    padding-left: 5pt;
    padding-right: 5pt;
    outline: none;
}

input[type="number"] {
    height: 30pt;
    border: 0;
    padding: 0;
    padding-left: 5pt;
    padding-right: 5pt;
    outline: none;
    width: 44px;
    margin-left: 0px;
}
.ui.toggle.button{
    background:#f9f7fe;
}